@use "variables";
@use "mixinFuncs";

.hero{
    width: clamp(13rem, 90%, 100rem);
    
    border-radius: 2rem;
    padding: 2rem;
    @include mixinFuncs.image-background("../img/hero.jpg");
    img{
        border-radius: 2rem;
    }
    .text-container{
        width: 100%;
        color:variables.$color-dark;
         @include mixinFuncs.flex(column, center, end);

         h1{
            background-color: variables.$color-light;
            padding: 0.2rem;
         }
         p{
            background-color: variables.$color-dark;
            color: #fff;
            padding: 0.2rem;
         }

    
    }

    @media screen and (min-width:35rem) {
        height: 80vh;
    }
}