@use "variables";

@mixin container($backgroundColor, $mx, $my){
    background-color: $backgroundColor;
    margin:$mx $my;
    }

@mixin marginCenter{
    margin: 0 auto;
}

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction ;
    justify-content: $justify;
    align-items: $align;
    gap: 2rem;
}

@mixin image-background($imageUrl){
    background-image: url($imageUrl);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin image-pattern{
    background-image: radial-gradient(variables.$color-dark 1px, transparent 1px);
    background-size:  15px 15px;
    background-color: #ffffff;
    
}

@mixin gradient{
    
        background-image: linear-gradient(
          45deg,
          hsl(240deg 100% 20%) 0%,
          hsl(252deg 71% 26%) 8%,
          hsl(256deg 53% 33%) 17%,
          hsl(258deg 41% 39%) 25%,
          hsl(260deg 32% 45%) 33%,
          hsl(261deg 27% 52%) 42%,
          hsl(262deg 27% 58%) 50%,
          hsl(263deg 27% 65%) 58%,
          hsl(264deg 28% 72%) 67%,
          hsl(264deg 28% 79%) 75%,
          hsl(265deg 29% 86%) 83%,
          hsl(265deg 29% 93%) 92%,
          hsl(0deg 0% 100%) 100%
        );
      
}
