@use "variables";
@use "mixinFuncs";

.navbar{
    width: 100%;
    background-color: variables.$color-medium;
    button{
        background-color: variables.$color-light;
        margin-right:1rem;
    }
    
    .logo-container{
        width: 3rem;
        height: 3rem;
        margin-left: 1rem;
    }
    .navbar-collapse{
        margin: 0 0 0 0;

        ul{
            text-align: center;
            a{color: variables.$color-dark;}
        }
    }
}

