@use "variables";
img{
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, label{
    font-family: variables.$font-title;
    font-weight: 700;
}

p,li,a,button,.btn, ul, span{
    font-family: variables.$font-text;
}

.btn{
    background-color: variables.$color-dark;
}